extends ./main.layout.pug

block content

  // Title
  block title
    title Portfolio | main page

  a(href="#").btn#btn Кнопка
  p.paragraf
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque natus, quis quae minima esse officiis! Molestiae, error accusamus nulla, officia accusantium facilis eveniet cupiditate perferendis delectus earum unde, ratione veniam.
    | Lorem ipsum, #[span.class dolor] sit amet consectetur adipisicing elit. Neque natus, quis quae minima esse officiis! Molestiae, error accusamus nulla, officia accusantium facilis eveniet cupiditate perferendis delectus earum unde, ratione veniam.

  .wrapper
    .item

  - const variable = "string"
  - const link = "<a href='#'>Ссылка</a>"

  h1= variable

  h2 text #{variable} text

  h3(class=`red ${variable}`) text #{variable} text
  h3(class=`red ${variable}`)= link
  h3(class=`red ${variable}`)!= link
  h3(class=`red ${variable}`) !{link}

  //- Массивы
  ul.list
    each item, index in ['one', 'two', 'three']
      li.item
        a(href='#') #{item}
        br
        span #{index}

  ul.list
    - for(let i = 0; i < ['one', 'two', 'three'].length; i++)
        li.item
          a(href='#') #{['one', 'two', 'three'][i]}
          span #{i}

  ul.list
    - for(let i = 0; i < 10; i++)
      li.item
        a(href='#') #{i}
        span #{i}

  -
    const arr = [
      ['one', 'two', 'three'],
      ['four', 'five', 'six']
    ]

  hr

  h5 #{arr[0][1]}  

  hr

  ul.list
    each item in arr
      li.item
        each number in item
          span #{number}

  hr

  include ./sections/obj.pug

  // Условия
  - const number = 2;

  if number === 2
    span true
  else if number === 3
    span num 3
  else
    span false

  case number
    when 0
      span 0
    when number > 1
      span 1
    when 3
      span 3
    default
      span Три