doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
  body

    div.debug
      div
        div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div


    block content

    include ./../templates/entry.pug